<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<center>
		<div class="col-sm-12">
		  Contact: Room B502, Building #55, Tianjin University (<a href="https://j.map.baidu.com/QPmWP">Maps</a>) <br />
			2018-6-1 <br />
			<span id="busuanzi_container_site_pv">本站总访问量：<span id="busuanzi_value_site_pv"></span>次</span>
		</center>
		</div>
	  </div>
	</div>
  </div>
</div>



<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
