<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
		<div class="navbar-header">
		
			<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">MM Group @ Tianjin University</a>
		</div>

		<nav class="header__nav" role="navigation" align="right">      
			<a href="{{ site.url }}{{ site.baseurl }}/" class="header__link">Home</a>
			<a href="{{ site.url }}{{ site.baseurl }}/research" class="header__link">Research</a>
			<a href="{{ site.url }}{{ site.baseurl }}/team" class="header__link">People</a>
			<a href="{{ site.url }}{{ site.baseurl }}/publications" class="header__link">Publications</a>
    </nav>


	<!--<div class="collapse navbar-collapse" id="navbar-collapse-1">-->
	  <!--<ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">People</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
	  </ul>-->
	<!--</div>-->
  </div>
</div>